<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/profile">Auth Service</a>

    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a *ngIf="authService.logIn" aria-current="page" class="nav-link active" routerLink="/profile">Профиль</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authService.logIn" class="nav-link" routerLink="/login">Войти</a>
        </li>
        <li class="nav-item">
          <a (click)="authService.logout()" *ngIf="authService.logIn" class="nav-link">Выйти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
