<div class="m-auto text-center">
  <h3 class="text-center display-5">Login</h3>
  <div class="input-group mb-3 w-25">
    <label class="input-group-text">Логин</label>
    <input [(ngModel)]="email" class="form-control" placeholder="Иван"
           type="text">
  </div>
  <div class="input-group mb-3 w-25">
    <label class="input-group-text">Пароль</label>
    <input [(ngModel)]="password" class="form-control" type="password">
  </div>
  <div class="spacer">
    <button (click)="Login()" class="btn btn-primary m-2" type="submit">Вход</button>
  </div>
</div>
